.powloka{
height: 100%;
width: 0;
position: fixed;
z-index: 2;
left: 0;
top:0;
background-color: rgb(0,0,0);
background-color:rgba(0,0,0, 0.9);
overflow-x:hidden;
transition: 0.5s;
}
.powloka-kontent{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.powloka a {
    padding: 8px;
    text-decoration: none;
    font-size:36px;
    color:#818181;
    display: block;
    transition: 0.3s;
    
}
.powloka a:hover, .powloka a:focus{
    color:#f1f1f1;
}
.powloka .zamknijBtn{
    position: absolute;
    top:20px;
    right:45;
    font-size:60px;
}
.zdj {
   height:50px;
    width: 50px;
    float:left;
}
@media screen and (max-height:450px){
    .powloka a {font-size:20px}
    .powloka .zamknijBtn{
        font-size: 40px;
        top:15px;
        right:35px;
    }
}